<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qmetry.qaf.automation.step.client.Scenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should navigate to booking page and click on Flight</td>
<td>prod uat smoke defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify Offer pop up on web pages in IOS</td>
<td>smoke uat prod defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify  single tap navigation of back button</td>
<td>smoke uat prod defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Auto fetch of mobile numbers during enrol based on email and validation of welcome page</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to see the Experiences Page</td>
<td>smoke prod uat defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to login to application</td>
<td>smoke prod uat initialSmoke newSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to logout to application</td>
<td>prod uat smoke initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Error message validations for login</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Validate My benefits</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Refer a friend validation</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Edit Profile Page validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Profile Page validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should verify the pressing the Device back key inside of intermiles should navigate back to App home page instead of closing the app</td>
<td>smoke uat prod defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify login when redirected web view</td>
<td>smoke defect prod uat </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.qmetry.qaf.automation.step.client.DataDrivenScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>City field auto populated suggestions should come after entering 3 characters</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - registered contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - invalid contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - blank contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - otp error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - otp and add details blank values error validation</td>
<td>smoke uat prod initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Resend OTP validation and complete enrol flow with new OTP</td>
<td>smoke uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to enrol to the intermiles application successfully.</td>
<td>smoke uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to see auto suggestions after entering 3 characters in from and to fields in flight search through Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to see auto suggestions after entering 3 characters in from and to fields in flight search through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to see popular and recent search properly through Redeem Miles flights search</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to see popular and recent search properly through Earn Miles flights search</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to switch locations during flight search in Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to switch locations during flight search in Earn Miles</td>
<td>smoke prod uat initialSmoke newSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a roundtrip flight through redeem miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a one way flight through redeem miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a roundtrip flight through earn miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a one way flight through earn miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify Flight and Hotel search list</td>
<td>smoke prod uat defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>3 characters auto suggestions in city field validation through Redeem Miles Hotel</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>3 characters auto suggestions in city field validation through Earn Miles Hotel</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>recent search validation within city search in hotel through Earn miles</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>recent search validation within city search in hotel through Redeem miles</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify navigation of back button for Hotel's List for IOS</td>
<td>smoke defect prod uat </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Change password error messages validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Change password validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>City field auto populated suggestions should come after entering 3 characters</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - registered contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - invalid contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - blank contact detail error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - otp error validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Enrol error messages validation on enrol pages - otp and add details blank values error validation</td>
<td>smoke uat prod initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Resend OTP validation and complete enrol flow with new OTP</td>
<td>smoke uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to enrol to the intermiles application successfully.</td>
<td>smoke uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to see auto suggestions after entering 3 characters in from and to fields in flight search through Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to see auto suggestions after entering 3 characters in from and to fields in flight search through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to see popular and recent search properly through Redeem Miles flights search</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to see popular and recent search properly through Earn Miles flights search</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to switch locations during flight search in Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user should be able to switch locations during flight search in Earn Miles</td>
<td>smoke prod uat initialSmoke newSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a roundtrip flight through redeem miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a one way flight through redeem miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a roundtrip flight through earn miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should able to search a one way flight through earn miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify Flight and Hotel search list</td>
<td>smoke prod uat defect </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>3 characters auto suggestions in city field validation through Redeem Miles Hotel</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>3 characters auto suggestions in city field validation through Earn Miles Hotel</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>recent search validation within city search in hotel through Earn miles</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>recent search validation within city search in hotel through Redeem miles</td>
<td>smoke prod uat defect initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Redeem Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>User should be able to search hotel through Earn Miles</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify navigation of back button for Hotel's List for IOS</td>
<td>smoke defect prod uat </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Change password error messages validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Change password validation</td>
<td>smoke prod uat initialSmoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
